<div class="row mt-5"> <!--row 3 start-->
    <div class="col-md-4">
      <h5>Address</h5>
      <hr>
      2nd Floor,landmark building <br>
      near Fc college Road <br>
      shivaji nagar-pune <br>
      <p>contact number:47656786</p>
    </div>
    <div class="col-md-4">
      <h5>Quick Links</h5>
      <hr>
      <p><a href="" class="anchor">Home</a></p>
      <p><a href="" class="anchor">About Us</a></p>
      <p><a href="" class="anchor">Cart</a></p>
      <p><a href="" class="anchor">Contact</a></p>
      
    </div>
    <div class="col-md-4">
      <h5>Connect Us</h5>
      <hr>
      <h5><a href="http://www.facebook.com"><i class="bi bi-facebook text-danger"></i></a></h5>
      <h5><a href="http://www.facebook.com"><i class="bi bi-instagram"></i></a></h5>
      <h5><a href="http://www.facebook.com"><i class="bi bi-twitter"></i></a></h5>
      <h5><a href="http://www.facebook.com"><i class="bi bi-linkedin"></i></a></h5>
    </div>
  </div><!--row 3 end-->
</div> 
<script src="asset/js/bootstrap.min.js"></script>   
</body>
</html>