{% extends 'base.html' %}

{% block 'main' %}
<div class="row mt-5">
    <div class="col-md-4 shadow mt-5 p-4 mx-auto">
        <h2 class="text-center">Registration</h2>
        {% if errmsg %}
            <div class="alert alert-danger">
                {{errmsg}}
            </div>
        {% endif %}
        <form action="" method="POST">
            {% csrf_token %}
            <div class="mb-3">
                <label for="Input1" class="form-label">Username:</label>
                <input type="email" class="form-control" name="uname" id="Input1" placeholder="name@example.com">
            </div>
            <div class="mb-3">
                <label for="Input2" class="form-label">Password:</label>
                <input type="password" class="form-control" name="upass" id="Input2" placeholder="enter password">
            </div>
            <div class="mb-3">
                <label for="Input3" class="form-label">confirm Password:</label>
                <input type="password" class="form-control" name="ucpass" id="Input3" placeholder="entre confirm password">
            </div>
            <div class="mb-3">
                
                <input type="submit" class="btn btn-danger" value="register">
                Already user?<a href="/login" style="text-decoration: none;">Login</a>
            </div>
            {% if success %}
                <div class="alert alert-success ">
                    {{success}}
                </div>
            {% endif %}

        </form>
    </div>
    
</div>
{% endblock 'main' %}